process {
    withLabel: canu {
        container = "quay.io/biocontainers/canu:2.2--ha47f30e_0"
    }

    withLabel: medaka {
        container = "ontresearch/medaka"
    }

    withLabel: seqkit {
        container = "quay.io/biocontainers/seqkit:2.8.2--h9ee0642_0"
    }

    withLabel: flye {
        container = "quay.io/biocontainers/flye:2.9.4--py38he0f268d_0"
    }

    withLabel: nanoplot {
        container = "quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0"
    }

    withLabel: nextdenovo {
        container = "quay.io/biocontainers/nextdenovo:2.5.2--py310h520969d_3"
    }

    withLabel: chopper {
        container = "jwdebler/chopper_seqkit_samtools_minimap:0.8.0_2.8_1.2.0_2.28"
    }

    withLabel: ragtag {
        container = "quay.io/biocontainers/ragtag:2.1.0--pyhb7b1952_0"
    }

    withLabel: dechat {
        container = "jwdebler/dechat_pigz:1.0.1_2.8"
    }
}
